body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, sans-serif;
    margin: 0; /* elimina los márgenes predeterminados */
    padding: 0; /* elimina los padding predeterminados */
    background-color: #828282; /* establece el color de fondo en gris claro */
  }
  
  .peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;

  }
  
  .pelicula {
    text-align: center;
    width: 30%;
    margin: 1em;
  }
  
  img {
    width: 100%;
  }
 